body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color:#588d9c; 
}

h1 {
    color: #0b1b3d;
}

#botao, #capslock {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
	border: 2px solid #7a2700;
    background-color: #f1d18a;
    color: #7a2700;
    cursor: pointer;
    margin-top: 2em;
}
#botao:hover, #capslock:hover {
    background-color: #DBBE7F;
    color: #7a2700;
    cursor: pointer
}
